.dark-theme {
          --theme-primary: #38aff1;
  --theme-on-primary: #211b1e;
  --theme-primary-container: #2d282b;
  --theme-primary-container-variant: #3a3537;
  --theme-on-primary-container: #b4b2b3;
  --theme-secondary: #084062;
  --theme-on-secondary: #9bd7f8;
  --theme-secondary-container: #2d282b;
  --theme-on-secondary-container: #f5fbfe;
  --theme-tertiary: #d93e3d;
  --theme-on-tertiary: #d93e3d;
  --theme-tertiary-container: #efb1b1;
  --theme-on-tertiary-container: #d93e3d;
  --theme-error: #e06463;
  --theme-on-error: #211b1e;
  --theme-error-container: #471416;
  --theme-error-container-variant: #5c1a1c;
  --theme-on-error-container: #d93e3d;
  --theme-background: #090306;
  --theme-on-background: #908d8e;
  --theme-surface: #211b1e;
  --theme-on-surface: #b4b2b3;
  --theme-surface-variant: #464244;
  --theme-on-surface-variant: #b4b2b3;
  --theme-outline: #777476;
  --theme-outline-variant: #dad9d9;
  --theme-shadow: #000000;
  --theme-surface1: #202529;
  --theme-surface2: #242a30;
  --theme-surface3: #272f37;
  --theme-surface4: #293139;
  --theme-surface5: #2b353e;
  --theme-warning: #fbd747;
  --theme-on-warning: #211b1e;
  --theme-warning-container: #392b0a;
  --theme-warning-container-variant: #513f0c;
  --theme-on-warning-container: #392b0a;
  --theme-success: #00bf8c;
  --theme-on-success: #211b1e;
  --theme-success-container: #063b2e;
  --theme-success-container-variant: #054e3b;
  --theme-on-success-container: #072820;
  --theme-disabled: #3a3537;
  --theme-on-disabled: #908d8e;
  --text-field-default-focus: [object Object],[object Object],[object Object];
  --text-field-default-hover: [object Object],[object Object];
  --text-field-default-active: [object Object],[object Object];
  --text-field-default-default: [object Object];
  --text-field-error-active: [object Object],[object Object];
  --text-field-error-hover: [object Object],[object Object];
  --text-field-error-focus: [object Object],[object Object],[object Object];
  --text-field-error-default: [object Object];
  --text-field-warning-active: [object Object],[object Object];
  --text-field-warning-hover: [object Object],[object Object];
  --text-field-warning-focus: [object Object],[object Object],[object Object];
  --text-field-warning-default: [object Object];
  --text-field-success-default: [object Object];
  --text-field-success-hover: [object Object],[object Object];
  --text-field-success-focus: [object Object],[object Object],[object Object];
  --text-field-success-active: [object Object],[object Object];
      }