.dark-theme {
          --primary: #38aff1;
  --on-primary: #211b1e;
  --primary-container: #2d282b;
  --on-primary-container: #b4b2b3;
  --secondary: #084062;
  --on-secondary: #9bd7f8;
  --secondary-container: #2d282b;
  --on-secondary-container: #f5fbfe;
  --tertiary: #d93e3d;
  --on-tertiary: #d93e3d;
  --tertiary-container: #d93e3d;
  --on-tertiary-container: #d93e3d;
  --error: #e06463;
  --error-container: #d93e3d;
  --on-error: #211b1e;
  --on-error-container: #d93e3d;
  --background: #090306;
  --on-background: #d93e3d;
  --surface: #211b1e;
  --on-surface: #b4b2b3;
  --surface-variant: #464244;
  --on-surface-variant: #ffffff;
  --shadow: #000000;
  --surface1: #202529;
  --surface2: #242a30;
  --surface3: #272f37;
  --surface4: #293139;
  --surface5: #2b353e;
  --on-surface-variant-variant: #908d8e;
  --outline-variant: #dad9d9;
      }