.dark-theme {
          --theme-primary: #38aff1;
  --theme-on-primary: #211b1e;
  --theme-primary-container: #2d282b;
  --theme-on-primary-container: #b4b2b3;
  --theme-secondary: #084062;
  --theme-on-secondary: #9bd7f8;
  --theme-secondary-container: #2d282b;
  --theme-on-secondary-container: #f5fbfe;
  --theme-tertiary: #d93e3d;
  --theme-on-tertiary: #d93e3d;
  --theme-tertiary-container: #d93e3d;
  --theme-on-tertiary-container: #d93e3d;
  --theme-error: #e06463;
  --theme-error-container: #d93e3d;
  --theme-on-error: #211b1e;
  --theme-on-error-container: #d93e3d;
  --theme-background: #090306;
  --theme-on-background: #d93e3d;
  --theme-surface: #211b1e;
  --theme-on-surface: #b4b2b3;
  --theme-surface-variant: #464244;
  --theme-on-surface-variant: #ffffff;
  --theme-shadow: #000000;
  --theme-surface1: #202529;
  --theme-surface2: #242a30;
  --theme-surface3: #272f37;
  --theme-surface4: #293139;
  --theme-surface5: #2b353e;
  --theme-on-surface-variant-variant: #908d8e;
  --theme-outline-variant: #dad9d9;
      }