.global-theme {
          --blue-blue0: #ffffff;
  --blue-blue2: #f5fbfe;
  --blue-blue5: #e6f5fd;
  --blue-blue10: #cdebfb;
  --blue-blue15: #b4e1f9;
  --blue-blue20: #9bd7f8;
  --blue-blue25: #83cdf6;
  --blue-blue30: #6ac3f4;
  --blue-blue35: #51b9f3;
  --blue-blue40: #38aff1;
  --blue-blue45: #1fa5ef;
  --blue-blue50: #079cee;
  --blue-blue55: #078cd6;
  --blue-blue60: #077dbf;
  --blue-blue65: #076ea8;
  --blue-blue70: #075e91;
  --blue-blue75: #084f7a;
  --blue-blue80: #084062;
  --blue-blue85: #08304b;
  --blue-blue90: #082134;
  --blue-blue95: #08121d;
  --blue-blue100: #000000;
  --purple-purple0: #ffffff;
  --purple-purple2: #faf8fc;
  --purple-purple5: #f4eef9;
  --purple-purple10: #eaddf3;
  --purple-purple15: #e0cded;
  --purple-purple20: #d6bce7;
  --purple-purple25: #ccace2;
  --purple-purple30: #c29bdc;
  --purple-purple35: #b88ad6;
  --purple-purple40: #ae7ad0;
  --purple-purple45: #a469ca;
  --purple-purple50: #9a59c5;
  --purple-purple55: #8b50b1;
  --purple-purple60: #7d479e;
  --purple-purple65: #6e3f8b;
  --purple-purple70: #603678;
  --purple-purple75: #512e65;
  --purple-purple80: #432552;
  --purple-purple85: #341c3f;
  --purple-purple90: #25142c;
  --purple-purple95: #170b19;
  --purple-purple100: #000000;
  --green-green0: #ffffff;
  --green-green2: #f4fcfa;
  --green-green5: #e5f8f3;
  --green-green10: #ccf2e8;
  --green-green15: #b2ebdc;
  --green-green20: #99e5d1;
  --green-green25: #7fdfc5;
  --green-green30: #66d8ba;
  --green-green35: #4cd2ae;
  --green-green40: #33cba3;
  --green-green45: #19c597;
  --green-green50: #00bf8c;
  --green-green55: #00ac7e;
  --green-green60: #019971;
  --green-green65: #028663;
  --green-green70: #037356;
  --green-green75: #046149;
  --green-green80: #054e3b;
  --green-green85: #063b2e;
  --green-green90: #072820;
  --green-green95: #081513;
  --green-green100: #000000;
  --gray-gray0: #ffffff;
  --gray-gray2: #f9f9f9;
  --gray-gray5: #f2f2f2;
  --gray-gray10: #e5e5e5;
  --gray-gray15: #dad9d9;
  --gray-gray20: #cdcccd;
  --gray-gray25: #c1bfc0;
  --gray-gray30: #b4b2b3;
  --gray-gray35: #a9a7a8;
  --gray-gray40: #9c9a9b;
  --gray-gray45: #908d8e;
  --gray-gray50: #848182;
  --gray-gray55: #777476;
  --gray-gray60: #6b6769;
  --gray-gray65: #5e5a5c;
  --gray-gray70: #524e50;
  --gray-gray75: #464244;
  --gray-gray80: #3a3537;
  --gray-gray85: #2d282b;
  --gray-gray90: #211b1e;
  --gray-gray95: #150f12;
  --gray-gray100: #090306;
  --maroon-maroon0: #ffffff;
  --maroon-maroon5: #efe9ed;
  --maroon-maroon10: #e0d4dc;
  --maroon-maroon15: #d0bfca;
  --maroon-maroon20: #c1aab9;
  --maroon-maroon25: #b295a8;
  --maroon-maroon30: #a27f96;
  --maroon-maroon35: #936a85;
  --maroon-maroon40: #835573;
  --maroon-maroon45: #744062;
  --maroon-maroon50: #652b51;
  --maroon-maroon55: #5b2749;
  --maroon-maroon60: #522342;
  --maroon-maroon65: #491f3a;
  --maroon-maroon70: #401b33;
  --maroon-maroon75: #37172b;
  --maroon-maroon80: #2d1324;
  --maroon-maroon85: #240f1c;
  --maroon-maroon90: #1b0a14;
  --maroon-maroon95: #12060d;
  --red-red0: #ffffff;
  --red-red2: #fdf7f7;
  --red-red5: #fbebeb;
  --red-red10: #f7d8d8;
  --red-red15: #f3c5c4;
  --red-red20: #efb1b1;
  --red-red25: #ec9e9e;
  --red-red30: #e88b8a;
  --red-red35: #e47777;
  --red-red40: #e06463;
  --red-red45: #dc5150;
  --red-red50: #d93e3d;
  --red-red55: #c43837;
  --red-red60: #af3232;
  --red-red65: #9a2c2c;
  --red-red70: #852627;
  --red-red75: #712021;
  --red-red80: #5c1a1c;
  --red-red85: #471416;
  --red-red90: #320e11;
  --red-red95: #1d080b;
  --red-red100: #000000;
  --orange-orange0: #ffffff;
  --orange-orange2: #fff9f7;
  --orange-orange5: #fff0ec;
  --orange-orange10: #ffe2da;
  --orange-orange15: #ffd3c7;
  --orange-orange20: #ffc5b5;
  --orange-orange25: #ffb7a3;
  --orange-orange30: #ffa890;
  --orange-orange35: #ff9a7e;
  --orange-orange40: #ff8b6b;
  --orange-orange45: #ff7d59;
  --orange-orange50: #ff6f47;
  --orange-orange55: #e66440;
  --orange-orange60: #cd593a;
  --orange-orange65: #b54e33;
  --orange-orange70: #9c432d;
  --orange-orange75: #843926;
  --orange-orange80: #6b2e20;
  --orange-orange85: #522319;
  --orange-orange90: #3a1812;
  --orange-orange95: #210d0c;
  --yellow-yellow0: #ffffff;
  --yellow-yellow2: #fefcf1;
  --yellow-yellow5: #fefae8;
  --yellow-yellow10: #fef5d1;
  --yellow-yellow15: #fdf0ba;
  --yellow-yellow20: #fdeba3;
  --yellow-yellow25: #fce68c;
  --yellow-yellow30: #fce175;
  --yellow-yellow35: #fbdc5e;
  --yellow-yellow40: #fbd747;
  --yellow-yellow45: #fad230;
  --yellow-yellow50: #facd1a;
  --yellow-yellow55: #e1b818;
  --yellow-yellow60: #c9a416;
  --yellow-yellow65: #b19014;
  --yellow-yellow70: #997c12;
  --yellow-yellow75: #816810;
  --yellow-yellow80: #69530e;
  --yellow-yellow85: #513f0c;
  --yellow-yellow90: #392b0a;
  --yellow-yellow95: #211708;
  --pink-pink0: #ffffff;
  --pink-pink2: #fdf7fb;
  --pink-pink5: #fbebf5;
  --pink-pink10: #f8d7eb;
  --pink-pink15: #f5c3e1;
  --pink-pink20: #f1afd7;
  --pink-pink25: #ee9bcd;
  --pink-pink30: #eb87c3;
  --pink-pink35: #e773b9;
  --pink-pink40: #e45faf;
  --pink-pink45: #e14ba5;
  --pink-pink50: #de379b;
  --pink-pink55: #c8318c;
  --pink-pink60: #b32c7d;
  --pink-pink65: #9e276e;
  --pink-pink70: #88225f;
  --pink-pink75: #731d50;
  --pink-pink80: #5e1741;
  --pink-pink85: #481232;
  --pink-pink90: #330d23;
  --pink-pink95: #1e0814;
  --size-0: 0;
  --size-4: 4;
  --size-8: 8;
  --size-16: 16;
  --size-24: 24;
  --size-32: 32;
  --size-40: 40;
  --size-48: 48;
  --size-56: 56;
  --size-64: 64;
  --size-72: 72;
  --size-80: 80;
  --size-88: 88;
  --size-96: 96;
  --size-104: 104;
  --size-112: 112;
  --spacing-none: 0px;
  --spacing-xx-sm: 4px;
  --spacing-x-sm: 8px;
  --spacing-sm: 16px;
  --spacing-med: 32px;
  --spacing-lg: 64px;
  --spacing-x-lg: 104px;
  --typography-display-large: [object Object];
  --typography-display-medium: [object Object];
  --typography-display-small: [object Object];
  --typography-headline-large: [object Object];
  --typography-headline-medium: [object Object];
  --typography-headline-small: [object Object];
  --typography-title-large: [object Object];
  --typography-title-medium: [object Object];
  --typography-title-small: [object Object];
  --typography-label-large: [object Object];
  --typography-label-medium: [object Object];
  --typography-label-small: [object Object];
  --typography-body-large: [object Object];
  --typography-body-medium: [object Object];
  --typography-body-small: [object Object];
  --typography-mono-large: [object Object];
  --typography-mono-medium: [object Object];
  --typography-mono-small: [object Object];
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-45: 45px;
  --font-size-57: 57px;
  --font-size-64: 64px;
  --font-family-brand: Overpass;
  --font-family-brand-mono: Overpass Mono;
  --font-weight-regular: Regular;
  --font-weight-semi-bold: SemiBold;
  --font-weight-bold: Bold;
  --line-height-1: 64;
  --line-height-12: 12;
  --line-height-16: 16;
  --line-height-20: 20;
  --line-height-21: 21;
  --line-height-24: 24;
  --line-height-28: 28;
  --line-height-32: 32;
  --line-height-36: 36;
  --line-height-40: 40;
  --line-height-44: 44;
  --line-height-52: 52;
  --line-height-64: 64;
  --line-height-auto: AUTO;
  --letter-spacing-0: 0%;
  --letter-spacing-1: 1%;
  --letter-spacing-1: -1%;
  --paragraph-spacing-none: 0;
  --paragraph-spacing-sm: 16;
  --paragraph-spacing-med: 32;
  --paragraph-spacing-lg: 64;
  --text-case-none: none;
  --text-case-upper-case: uppercase;
  --text-case-title-case: Title Case;
  --text-decoration-none: none;
      }