.light-theme {
          --theme-primary: #076ea8;
  --theme-on-primary: #ffffff;
  --theme-primary-container: #f5fbfe;
  --theme-on-primary-container: #076ea8;
  --theme-secondary: #084f7a;
  --theme-on-secondary: #ffffff;
  --theme-secondary-container: #e6f5fd;
  --theme-on-secondary-container: #ffffff;
  --theme-tertiary: #33cba3;
  --theme-on-tertiary: #000000;
  --theme-tertiary-container: #072820;
  --theme-on-tertiary-container: #ccf2e8;
  --theme-error: #c43837;
  --theme-on-error: #ffffff;
  --theme-error-container: #fbebeb;
  --theme-error-container-variant: #fdf7f7;
  --theme-on-error-container: #320e11;
  --theme-background: #f9f9f9;
  --theme-on-background: #6b6769;
  --theme-surface: #ffffff;
  --theme-on-surface: #090306;
  --theme-surface-variant: #e6f5fd;
  --theme-on-surface-variant: #464244;
  --theme-outline: #777476;
  --theme-shadow: #000000;
  --theme-surface1: #eff4fa;
  --theme-surface2: #e8f0f7;
  --theme-surface3: #e0ebf4;
  --theme-surface4: #deeeff;
  --theme-surface5: #d9e7f1;
  --theme-outline-variant: #908d8e;
      }