.light-theme {
          --theme-primary: #076ea8;
  --theme-on-primary: #ffffff;
  --theme-primary-container: #f5fbfe;
  --theme-primary-container-variant: #e6f5fd;
  --theme-on-primary-container: #076ea8;
  --theme-secondary: #084062;
  --theme-on-secondary: #ffffff;
  --theme-secondary-container: #51b9f3;
  --theme-on-secondary-container: #082134;
  --theme-tertiary: #33cba3;
  --theme-on-tertiary: #000000;
  --theme-tertiary-container: #072820;
  --theme-on-tertiary-container: #ccf2e8;
  --theme-error: #c43837;
  --theme-on-error: #ffffff;
  --theme-error-container: #fdf7f7;
  --theme-error-container-variant: #fbebeb;
  --theme-on-error-container: #320e11;
  --theme-background: #f9f9f9;
  --theme-on-background: #6b6769;
  --theme-surface: #ffffff;
  --theme-on-surface: #090306;
  --theme-surface-variant: #e6f5fd;
  --theme-on-surface-variant: #464244;
  --theme-outline: #777476;
  --theme-outline-variant: #908d8e;
  --theme-shadow: #000000;
  --theme-surface1: #eff4fa;
  --theme-surface2: #e8f0f7;
  --theme-surface3: #e0ebf4;
  --theme-surface4: #deeeff;
  --theme-surface5: #d9e7f1;
  --theme-warning: #b19014;
  --theme-on-warning: #ffffff;
  --theme-warning-container: #fefcf1;
  --theme-warning-container-variant: #fefae8;
  --theme-on-warning-container: #392b0a;
  --theme-success: #028663;
  --theme-on-success: #ffffff;
  --theme-success-container: #f4fcfa;
  --theme-on-success-container: #072820;
  --theme-success-container-variant: #e5f8f3;
  --theme-disabled: #f2f2f2;
  --theme-on-disabled: #6b6769;
  --text-field-default-focus: [object Object],[object Object],[object Object];
  --text-field-default-hover: [object Object],[object Object];
  --text-field-default-active: [object Object],[object Object];
  --text-field-default-default: [object Object];
  --text-field-error-active: [object Object],[object Object];
  --text-field-error-hover: [object Object],[object Object];
  --text-field-error-focus: [object Object],[object Object],[object Object];
  --text-field-error-default: [object Object];
  --text-field-warning-active: [object Object],[object Object];
  --text-field-warning-hover: [object Object],[object Object];
  --text-field-warning-focus: [object Object],[object Object],[object Object];
  --text-field-warning-default: [object Object];
  --text-field-success-default: [object Object];
  --text-field-success-hover: [object Object],[object Object];
  --text-field-success-focus: [object Object],[object Object],[object Object];
  --text-field-success-active: [object Object],[object Object];
      }