.light-theme {
          --primary: #076ea8;
  --on-primary: #ffffff;
  --primary-container: #f5fbfe;
  --on-primary-container: #076ea8;
  --secondary: #084f7a;
  --on-secondary: #ffffff;
  --secondary-container: #e6f5fd;
  --on-secondary-container: #ffffff;
  --tertiary: #33cba3;
  --on-tertiary: #000000;
  --tertiary-container: #072820;
  --on-tertiary-container: #ccf2e8;
  --error: #c43837;
  --on-error: #ffffff;
  --error-container: #fbebeb;
  --error-container-variant: #fdf7f7;
  --on-error-container: #320e11;
  --background: #f9f9f9;
  --on-background: #6b6769;
  --surface: #ffffff;
  --on-surface: #090306;
  --surface-variant: #e6f5fd;
  --on-surface-variant: #464244;
  --outline: #777476;
  --shadow: #000000;
  --surface1: #eff4fa;
  --surface2: #e8f0f7;
  --surface3: #e0ebf4;
  --surface4: #deeeff;
  --surface5: #d9e7f1;
  --outline-variant: #908d8e;
      }